<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236878120446-r9c7oq2rsk9rsf3e81bv8fs8ecv85ckd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236878120446-r9c7oq2rsk9rsf3e81bv8fs8ecv85ckd</string>
	<key>API_KEY</key>
	<string>AIzaSyDZHZu-sBx4_HKhn-TFHUpH9BoAgVWNeeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>236878120446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yusuf.Salon-Spa-Appointments-app</string>
	<key>PROJECT_ID</key>
	<string>salon-app-official-sign-in</string>
	<key>STORAGE_BUCKET</key>
	<string>salon-app-official-sign-in.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236878120446:ios:190c3fe8a667c97c8e6caf</string>
	<key>DATABASE_URL</key>
	<string>https://salon-app-official-sign-in.firebaseio.com</string>
</dict>
</plist>